.App {
  text-align: center;
  width:100vw;
  /* height:100vh; */
  display:flex;
  align-items: center;
  justify-content: center;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background: URL("https: //images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&w=600");
}
.buttons{
  width:300px;
  /* min-height: 80px; */
  border:1px solid black;
  padding:20px;
  gap:30px;
}
button{
  display:inline-block;
  margin-right:30px;
}
.pagination{
  width:70%;
  margin-top:10px;

}
.pagination span{
  padding:10px;
  border:1px solid black;
  cursor: pointer;
}



